= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'events', action: 'edit', uuid: @event.uuid

%strong Delete event?

= render partial: 'event_public_information', locals: { event: @event }

= button_to 'Delete', { controller: 'events', action: 'soft_delete', uuid: @event.uuid }, {method: :delete, id: 'delete-confirm'}
