= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'events', action: 'edit', uuid: @event.uuid

%strong Delete event: #{@event.datetime.strftime('%Y-%m-%d @ %l:%m%p')}?

= button_to 'Delete', { controller: 'events', action: 'soft_delete', uuid: @event.uuid }, {method: :delete, id: 'delete-confirm'}
