%p
  = link_to 'Back', controller: 'events', action: 'index'

%h1 Manage event for #{@event.datetime.strftime('%A, %B %d at %I:%M %p')}

= render partial: 'event_form', locals: { event: @event, submit_url: update_event_path, edit: true }
