= render partial: 'admin_toolbar'

%p
  = link_to 'New Event', { controller: 'events', action: 'new' }

- if @upcoming_events
  %h2 Upcoming Events
  = render partial: 'event_table', locals: { events: @upcoming_events, editable: true, deleted: false }

- if @past_and_deleted_events
  %h2 Past and Deleted Events
  = render partial: 'event_table', locals: { events: @past_and_deleted_events, editable: false, deleted: true }

