= render partial: 'admin_toolbar'

%p
  = link_to 'Back', controller: 'events', action: 'index'

%h1 New Event

= render partial: 'event_form', locals: { event: @event, submit_url: create_event_path, edit: false }
