= render partial: 'admin_toolbar'

%br
%br

%table.lists
  %thead
    %tr
      %th.name Name
      %th.name Description
      %th.subscribers Subscribers
  %tbody
    - @lists.each do |l|
      %tr
        %td.name
          = link_to l.name, { controller: 'subscription_lists', action: 'edit', id: l.id }
        %td.description
          = l.description
        %td.subscribers
          = l.subscriptions.count

