form {
  width: 350px;

  margin-top: 10px;

  .actions {
    margin-top: 10px;
  }

  input[type="submit"] {
    width: 100px;
  }
}

#delete-account {
  display: inline-block;
  float: right;
  margin-top: 4px;
}

.option.text {
  display: block;
  height: 44px;
  position: relative;
  width: 100%;

  label {
    left: 0px;
    position: absolute;
    line-height: 27px;
    width: 25%;
  }

  input {
    border-radius: 3px;
    border: 1px solid #cacaca;
    height: 30px;
    position: absolute;
    right: 0px;
    width: 70%;
  }

  .field_with_errors {
    display: inline-block;

    input {
      border: 1px solid red;
    }
  }
}

#delete-confirm {
  margin-bottom: 10px;
}
