$form-width: 550px;

p {
  width: $form-width;

  padding: 3px;
  border-radius: 4px;

  &.warning {
    border: 2px solid #DE2828;
    background-color: #FFE7E7;
  }

  &.notice {
    border: 2px solid #e7a300;
    background-color: #FFF8C7;
  }
}

#user_form {
  .option.text {
    display: block;
    height: 44px;
    position: relative;
    width: $form-width;

    label {
      left: 0px;
      position: absolute;
      line-height: 27px;
      width: 20%;
    }

    input {
      border-radius: 3px;
      border: 1px solid #cacaca;
      height: 30px;
      position: absolute;
      right: 0px;
      width: 80%;
    }

    .field_with_errors {
      input {
        border: 1px solid red;
      }
    }

    input[type='checkbox'] {
      margin-left: 0;
    }

  }

  .actions {
    margin-top: 10px;
    width: $form-width;

    a#delete-account {
      display: inline-block;
      float: right;
      margin-top: 4px;
    }
  }
}

#delete-confirm {
  margin-bottom: 10px;
}
