%h1 Admin Panel

= link_to "Index", { controller: 'admin', action: 'index' }
= link_to "Users", { controller: 'users', action: 'index' }
= link_to "Events", { controller: 'events', action: 'index' }
= link_to "Logout", { controller: 'admin', action: 'logout'}
