!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mailing List Name Placeholder
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    - if flash[:success]
      .flash.success
        = flash[:success]
    = yield
