%strong Delete membership for #{@subscriber.email_address}?
.explanation
  %em This will delete all record of the above user in the database. You may create a new account afterward.
  = button_to "Delete", { controller: "membership", action: "destroy", uuid: @subscriber.uuid }, id: 'delete-confirm'
  = link_to "Back", controller: "membership", action: "manage", uuid: @subscriber.uuid
