%h1 Uh oh. Something went wrong with the confirmation.
- if @subscriber
  Maybe you truncated the URL? Please check your confirmation email and try again.
- else
  %div Either you really messed this one up, or something's really wrong with the site.
  %div Please try again, and if this persists please let me know.
