%h1 Manage membership for #{@subscriber.name} (#{@subscriber.email})

- if not @subscriber.email_confirmed
  %p.warning <strong>You have not confirmed your email address.</strong> In order to start getting emails, please check your inbox for a confirmation email.

= render partial: 'user_form', locals: { subscriber: @subscriber, submit_url: update_path }
