%h1 Subscribe to Saturday Night Board Games?
%p.notice <strong>Please use a name that I'll recognize.</strong> I want to make sure I know who's getting these emails. :)

= render partial: 'user_form', locals: { subscriber: @subscriber, submit_url: subscribe_path }
